<div class="container">
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup)">
    <div>
      <input type="text" formControlName="firstName" placeholder="first name">
      <label style="color:red" *ngIf="formGroup.get('firstName').invalid && 
      formGroup.get('firstName').touched &&
      formGroup.get('firstName').errors['required']">Required.</label>
      <label style="color:red" *ngIf="formGroup.get('firstName').invalid && 
      formGroup.get('firstName').touched &&
      formGroup.get('firstName').errors['minlength']">Min is 3.</label>
    </div>
    <div>
      <input type="text" formControlName="lastName" placeholder="last name">
      <label style="color:red" *ngIf="formGroup.get('firstName').invalid &&
      formGroup.get('lastName').touched && 
      formGroup.get('lastName').errors['required']">Required.</label>
      <label style="color:red" *ngIf="formGroup.get('firstName').invalid &&
      formGroup.get('lastName').touched && 
      formGroup.get('lastName').errors['minlength']">Min is 3.</label>
    </div>
    <div>
      <input type="number" min="0" max="99" formControlName="age" placeholder="age">
      <label style="color:red" *ngIf="formGroup.get('age').invalid &&
      formGroup.get('age').touched && 
      (formGroup.get('age').errors['min'] 
      || formGroup.get('age').errors['max'])">Between 0 and 99
      </label>
    </div>
    <div>
      <input type="text" formControlName="email" placeholder="email">
      <label style="color:red" *ngIf="formGroup.get('email').invalid &&
      formGroup.get('email').touched && 
      formGroup.get('email').errors['required']">Required.</label>
      <label style="color:red" *ngIf="formGroup.get('email').invalid &&
      formGroup.get('email').touched && 
      formGroup.get('email').errors['email']">E-mail is invalid</label>
    </div>
    <button>Submit</button>
  </form>
</div>